<footer class="my-20">
	<p class="text-center text-sm text-slate-500">
		Copyright © {new Date().getFullYear()} SeriTracker. All rights reserved.
	</p>
	<p class="mt-1 text-center text-xs text-slate-500">
		Made by <a
			href="https://vlorente.dev"
			target="_blank"
			rel="noopener"
			class="hover:underline"
		>
			Valentín Lorente
		</a>
	</p>
</footer>
