---
import Layout from "@layouts/Layout.astro"
import Shows from "@sections/Shows"
---

<Layout
	title="SeriTracker"
	summary="Easy way to track whats shows are you watching"
>
	<main>
		<Shows client:only="preact" />
	</main>
</Layout>
