---
import Footer from "@components/Footer.astro"
import Navbar from "@components/Navbar.astro"

interface Props {
	title: string
	summary?: string
}

const { title, summary } = Astro.props
---

<!doctype html>
<html lang="es" class="scroll-smooth" data-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="description" content={summary} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- TODO: Rewrite cacnonical -->
		<link rel="canonical" href="https://vlorente.dev" />
	</head>
	<body>
		<Navbar />
		<slot />
		<Footer />
		<style is:global>
			:root {
				color-scheme: dark;
				--entry-animation: -20px;
				--cover-animation: 20px;
			}

			@media (min-width: 1400px) {
				:root {
					--entry-animation: -100px;
					--cover-animation: 100px;
				}
			}

			::-webkit-scrollbar {
				width: 8px;
			}
			::-webkit-scrollbar-track {
				background: transparent;
				backdrop-filter: blur(10px);
				border-radius: 5px;
			}
			::-webkit-scrollbar-thumb {
				background: rgba(0, 0, 0, 0.445);
				backdrop-filter: blur(10px);
				border-radius: 5px;
			}
			::-webkit-scrollbar-thumb:hover {
				background: rgba(0, 0, 0, 0.836);
			}
		</style>
	</body><!-- TODO: SEO -->
</html>
